## **1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
def string_length(str):
    count = 0
    for char in str:
        count += 1
    return count
print(' len = ',string_length('Basmala'))

 len =  7

In [ ]:
string = input("Enter your string : ")
def string_length1(string):
    return len(string)
string_length1(string)

Enter your string : basmala

7

*2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource' Expected Result : 'w3ce'

In [ ]:
text = input("Enter a string: ")
if len(text) < 2:
    result = ""
else:
    result = text[:2] + text[-2:]

print("your string: ",text)
print("Result: ",result)

Enter a string: basmala
your string:  basmala
Result:  bala

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc' Expected Result : 'abcing')

In [ ]:
Str = input("Enter your string: ")
if len(Str) >= 3:
  if Str.endswith("ing"):
    Str = Str[:-3] + "ly"
  else:
    Str += "ing"

print(Str)

Enter your string: play
playing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one (Longest word: Exercises Length of the longest word: 9)

In [ ]:
def longest_word(words):
    longest_word = ""
    max = 0
    for word in words:
        if len(word) > max:
            longest_word = word
            max = len(word)
    return longest_word, max
words = input("Enter a list of words: ").split()
longest, length = longest_word(words)
longest_word(words)

Enter a list of words: basmala khaled elsaeed wehady

('basmala', 7)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca Expected Result:ebce)

In [ ]:
string = input("Enter your string: ")
def change(string):
  new_string = string[-1] + string[1:-1] + string[0]
  return new_string
change(string)

Enter your string: basmala

'aasmalb'

In [ ]:
string = input("Enter your string: ")
def change(string):
    string_list = list(string)
    string_list[0], string_list[-1] = string_list[-1], string_list[0]
    return ''.join(string_list)

new_string = change(string)

print( "string: ",string)
print( "new: ",new_string)

Enter your string: khaled
string:  khaled
new:  dhalek

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
string = input("Enter your string: ")
def Remove(string):
    result = ""
    for i in range(len(string)):
        if i % 2 == 0:
            result += string[i]
    return result
Remove(string)

Enter your string: basmala

'bsaa'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
sentence = "amr and ahmed are frindes but amr is the tallest"
words = sentence.split()
count = {}
for word in words:
    if word in count:
        count[word] += 1
    else:
       count[word] = 1
for word, count in count.items():
    print(word, count)

amr 2
and 1
ahmed 1
are 1
frindes 1
but 1
is 1
the 1
tallest 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
sring = input("Enter a string: ")
print("Uppercase:", sring.upper())
print("Lowercase:", sring.lower())

Enter a string: basmala
Uppercase: BASMALA
Lowercase: basmala

-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
string = input("Enter a string: ")
def reverse_string(string):
    if len(string) % 4 == 0:
        return string[::-1]
    else:
        return string
reverse_string(string)

Enter a string: baba

'abab'

**10- Write a Python program to remove a newline in Python

In [ ]:
string = "Basmala \n khaled"
print(string)
string.replace("\n", "")

Basmala
 khaled

'Basmala  khaled'

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
string = input("Enter a string: ")
if string.startswith("B"):
    print("The string start with 'B'")
else:
    print("The string doesn't start with 'B'")

Enter a string: Basmala
The string start with 'B'

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
string = "Basmala\nKhaled\nalsaeed"
lines = string.splitlines()
prefix = ">> "
result = "\n".join(prefix + line for line in lines)
print(result)

>> Basmala
>> Khaled
>> alsaeed


**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
num = [1.2345, 2.3456, 1.23456, 4.78910]
for number in num:
    print(f"{num:.2f}")

1.23
2.35
1.23
4.79

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
num = [1.2345, 2.3456, 1.23456, 4.78910]
for num in num:
    print(f"{num:+.2f}")

+1.23
+2.35
+1.23
+4.79

**15-Write a Python program to display a number with a comma separator

In [ ]:
number = 1234567890
print(f"{number:,}")

1,234,567,890

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
string = input("Enter your string: ")
print(string[::-1])

Enter your string: basmala
 alamsab

In [ ]:
string = input("Enter your string: ")
def reverse_string(string):
    return string[::-1]
reverse_string(string)

Enter your string: basmala

'alamsab'


 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
string = input("Enter your string: ")
count = {}
for char in string:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1
for char, count in count.items():
    if count > 1:
        print(f"'{char}': {count}")

Enter your string: basmala
'a': 3

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
string = input("Enter your string: ")
count = {}
for char in string:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1
        if count[char] == 1:
            print(char)
            break

Enter your string: basmala
b

**19-Write a Python program to remove spaces from a given string

In [ ]:
string = input("Enter your string: ")
string.replace(" ", "")

Enter your string: basmala khaled

'basmalakhaled'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
string = input("Enter your string: ")
count = 0
for i in range(len(string)):
    for j in range(i, len(string)):
        if string[i:j+1]:
            count += 1
print(count)

Enter your string: basmala
28

**21-write a Python program to swap first and last element of any list.

In [ ]:
string = input("Enter your string: ")
def change(string):
  new_string = string[-1] + string[1:-1] + string[0]
  return new_string
change(string)

Enter your string: basmala

'aasmalb'


**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
List = [23, 65, 19, 90]
pos1 = int(input("Enter the first position: "))
pos2 = int(input("Enter the second position: "))
pos1 -= 1
pos2 -= 1
List[pos1], List[pos2] = List[pos2], List[pos1]
print(List)

Enter the first position: 1
Enter the second position: 3
[19, 65, 23, 90]

*23- search for the all ways to know the length of the list

In [ ]:
list = [10, 20, 30]
length = len(list)
print(length)

3

**24-write a Python code to find the Maximum number of list of numbers

In [ ]:
list = [10, 20, 30]
max_num = max(list)
print(max_num)

30

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
list = [10, 20, 30]
min_num = min(list)
print(min_num)

10

**26-search for if an elem is existing in list

In [ ]:
list = [10, 20, 30]
element = int(input("Enter the element to search for: "))
if element in list:
    print("Element found")
else:
    print("Element not found")

Enter the element to search for: 10
Element found

**27- clear python list using different ways

In [ ]:
list = [10, 20, 30]
list.clear()
print(list)

[]

**28-remove duplicated elements from a list

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

[1, 2, 3, 4, 5]

**26-search for if an elem is existing in list

**27- clear python list using different ways

**28-remove duplicated elements from a list

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”] Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
list = ["Gfg", 3, "is", 8]
keys = ["name", "id"]
result = []
for i in range(0, len(list), len(keys)):
    result.append(dict(zip(keys, list[i:i+len(keys)])))
print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
list = [1, 2, 2, 3, 4, 4, 5]
unique_count = len(set(list))
print(unique_count)

5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3

In [1]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
result = []
for item in test_list:
    if test_list.count(item) > K:
        result.append(item)
print(result)

[4, 4, 3, 3, 4, 3, 4, 3]


**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [2]:
def strongest_neighbours(arr):
    strongest = []
    for i in range(len(arr) - 1):
        strongest.append(max(arr[i], arr[i + 1]))
    return strongest


input_list = list(map(int, input("Enter numbers separated by spaces: ").split()))
output = strongest_neighbours(input_list)
print("Output:", ' '.join(map(str, output)))

Enter numbers separated by spaces: 1 2 2 3 4 5
Output: 2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3] Output: 1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] Output: [1], [1, 2], [1, 2, 3], [1, 3] [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"] List_2 = [1,2] Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [12]:
def remove_element(lst, element):
    return [x for x in lst if x != element]

input_list = list(map(int, input("Enter numbers separated by spaces: ").split()))
element = int(input("Enter the element to remove: "))

result = remove_element(input_list, element)
print("Output:", result)

Enter numbers separated by spaces: 1 1 2 3 4 5 1 2 1
Enter the element to remove: 1
Output: [2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [15]:
def replace_indices(list1, list2):
    result = [list1[index] for index in list2]
    return result

list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
print("The original list 1 is:", list1)
print("The original list 2 is:", list2)

result = replace_indices(list1, list2)
print("The lists after index elements replacements is:", result)

The original list 1 is: ['Gfg', 'is', 'best']
The original list 2 is: [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
The lists after index elements replacements is: ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 Output : [(4, 5, 5, 4)] Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 Output : [] )

In [17]:
def records(test_list, K, N):

    return [tup for tup in test_list if tup.count(K) == N]
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
print("Input: test_list =", test_list, ", K =", K, ", N =", N)
result = records(test_list, K, N)
print("Output:", result)

Input: test_list = [(4, 5, 5, 4), (5, 4, 3)] , K = 5 , N = 2
Output: [(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda

In [20]:
list = [(1, 2), (4, 1), (9, 10), (13, -3)]
sorted_list = sorted(list, key=lambda x: x[1])
print(sorted_list)

def sort_by_column(matrix, col_index):

    return sorted(matrix, key=lambda x: x[col_index])
matrix = [
    [1, 'b', 3],
    [4, 'a', 2],
    [2, 'c', 1]
]
col_index = 2

print("Input Matrix:", matrix)

result = sort_by_column(matrix, col_index)
print("Sorted Matrix ", col_index, ":", result)

[(13, -3), (4, 1), (1, 2), (9, 10)]
Input Matrix: [[1, 'b', 3], [4, 'a', 2], [2, 'c', 1]]
Sorted Matrix  2 : [[2, 'c', 1], [4, 'a', 2], [1, 'b', 3]]

**41-write python program to Remove keys with Values Greater than K ( Including mixed values ) nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’}, K = 7 Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [21]:
def remove_keys_greater_than_k(test_dict, K):
    new_dict = {}
    for key, value in test_dict.items():
        if isinstance(value, (int, float)):
            if value <= K:
                new_dict[key] = value
        else:
            new_dict[key] = value
    return new_dict

test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7

output_dict = remove_keys_greater_than_k(test_dict, K)

print("Original Dictionary:", test_dict)
print("Filtered Dictionary:", output_dict)

Original Dictionary: {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
Filtered Dictionary: {'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary : dic1={1:10, 2:20} dic2={3:30, 4:40} dic3={5:50,6:60} Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [26]:
def max_min(dictionary):

    if not dictionary:
        return None, None

    values = dictionary.values()
    max_value = max(values)
    min_value = min(values)

    return max_value, min_value

sample_dict = {
    'a': 10,
    'b': 30,
    'c': 5,
    'd': 20
}

print("Input Dictionary:", sample_dict)
max_val, min_val =max_min(sample_dict)

print("Maximum Value:", max_val)
print("Minimum Value:", min_val)

Input Dictionary: {'a': 10, 'b': 30, 'c': 5, 'd': 20}
Maximum Value: 30
Minimum Value: 5

**46- Write a Python program to drop empty items from a given dictionary. Original Dictionary: {'c1': 'Red', 'c2': 'Green', 'c3': None} New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

In [33]:
def remove_empty_items(dictionary):
    new_dict = {}
    for key, value in dictionary.items():
        if value is not None:
            new_dict[key] = value
    return new_dict

original = {'a': 1, 'b': None, 'c': 3, 'd': None, 'e': 5}


print("Original Dictionary:", original)
new_dict = remove_empty_items(original)
print("New Dictionary after dropping empty items:", new_dict)

Original Dictionary: {'a': 1, 'b': None, 'c': 3, 'd': None, 'e': 5}
New Dictionary after dropping empty items: {'a': 1, 'c': 3, 'e': 5}

**47-Write a Python program to create a tuple of numbers and print one item

In [41]:
numbers = input("Enter numbers separated by spaces: ").split()
numbers_tuple = tuple(int(num) for num in numbers)
print("Tuple of numbers:", numbers_tuple)
index = int(input("Enter the index of the item to print : "))

if 0 <= index < len(numbers_tuple):
    print("Item at index", index, ":", numbers_tuple[index])
else:
    print("Error: Index out of range")

Enter numbers separated by spaces: 1 2 3 4 5 6 7
Tuple of numbers: (1, 2, 3, 4, 5, 6, 7)
Enter the index of the item to print : 3
Item at index 3 : 4

**48-Write a Python program to unpack a tuple into several variables

In [1]:
person_info = ("basmala", 21, "cairo", "Engineer")

name, age, city, profession = person_info
print("Name:", name)
print("Age:", age)
print("City:", city)
print("Profession:", profession)

Name: basmala
Age: 21
City: cairo
Profession: Engineer

**49-Write a Python program to add an item to a tuple

In [2]:
my_tuple = (1, 2, 3)
print("Original tuple:", my_tuple)

new_item = 4
my_tuple = my_tuple + (new_item,)
print("After adding one item:", my_tuple)

Original tuple: (1, 2, 3)
After adding one item: (1, 2, 3, 4)

**50-Write a Python program to convert a tuple to a string

In [3]:
tuple_of_strings = ('Basmala', 'khaled', 'saeed', 'wehady')
result = ' '.join(tuple_of_strings)
print(result)


result2 = ', '.join(tuple_of_strings)
print(result2)

Basmala khaled saeed wehady
Basmala, khaled, saeed, wehady

Write a Python program to convert a list to a tuple

In [4]:
list = [1, 2, 3, 4, 5]
tuple = tuple(list)
print(tuple)

(1, 2, 3, 4, 5)


**52-Write a Python program to reverse a tuple

In [5]:
tuple = (1, 2, 3, 4, 5)
reversed_tuple = tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)


**53-Write a Python program to replace the last value of tuples in a list. Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [8]:
list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100
new_list = []
for tuple in list:
    new_tuple = tuple[:-1] + (new_value,)
    new_list.append(new_tuple)
print(new_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [26]:
tuple = (1, 2, 3,4, 5)
total = 0
count = 0
for num in tuple:
        total += num
        count += 1
average = total / count
print(average)

3.0

**56-Write a Python program to add member(s) to a set.

In [27]:
set= {1, 2, 3}
set.add(4)
print(set)

{1, 2, 3, 4}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [28]:
set = {1, 2, 3, 4, 5}
item = 3
if item in set:
    set.remove(item)
print(set)

{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [29]:
set = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set.intersection(set2)
union = set.union(set2)
difference = set.difference(set2)
print(intersection)
print(union)
print(difference)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}


**59-Write a Python program to find the maximum and minimum values in a set

In [30]:
set= {1, 2, 3, 4, 5}
maximum = max(set)
minimum = min(set)
print(maximum)
print(minimum)

5
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [32]:
set= {1, 2, 3, 4, 5}
sum = 5
pairs = []
for num1 in set:
    for num2 in set:
        if num1 + num2 == sum:
            pairs.append((num1, num2))
    print(pairs)

[(1, 4)]
[(1, 4), (2, 3)]
[(1, 4), (2, 3), (3, 2)]
[(1, 4), (2, 3), (3, 2), (4, 1)]
[(1, 4), (2, 3), (3, 2), (4, 1)]